@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "akira";
  src: url(Akira\ Expanded\ Demo.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
html {
  font-family: "akira";
}

header {
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 40px;
  z-index: 2000;
  color: white;
}
nav {  
  display: flex;
  gap: 40px;
  p:hover{
    color: red;
    cursor: pointer;
  }
}

.container{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


#hero {
  height: 100dvh;
  width: 100dvw;
  color: white;
  margin: 0 auto;
}

.hero-img::before {
  content: '';
  position: relative;
  top: 10;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50dvh;
	-webkit-animation: title-entrance 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: title-entrance 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes title-entrance {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes title-entrance {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.hero-title {
  font-size: 70px;
  top: 50%;
}
.hero-span {
  color: red;
}

.hero-button {
  background-color: red;
  color: white;
  font-family: "akira";
  border: none;
  padding: 16px 12px;
 
}
.hero-button:hover{
  background-color: white;
  color: red;
  cursor: pointer;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  object-fit: cover;
  z-index: -2;
}
.button-header {
  background-color: transparent;
  font-family: "akira";
  border: solid 1px;
  padding: 16px 12px;
  color: white;
}

.button-header:hover{
  color: red;
  cursor: pointer;
}

@keyframes slider {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.logos{
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  display: flex;
  position: relative;
  width: auto;
}

.logos-slide{
  width: 100%;
  display: inline-block;
  animation: 5s slider infinite linear;
}

.logos-slide img{
  height: 50px;
  margin: 0 40px;
  aspect-ratio: 7/2;
}

.news-container{
  padding: 0 112px;
}

.news-title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-button{
  background-color: red;
  margin: none;
  color: white;
  padding: 20px;
  font-weight: 900;
}



.cards-container{
   display: flex;
   gap: 32px; 
   align-items: center;
   /* justify-content: space-around; */

   width: 100%;
}
.card{
  display: flex;
  height: 584px;
  width: 390px;
  flex-direction: column;
  cursor: pointer;
}
.card-info{
  background-color: black;
  color: white;
  height: 191px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-title{
  color: white;
}
.card-description{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.card-button{
  background-color: red;
  margin-top: 15px;
  color: white;
  font-family: akira;
  width: 50%;
  border: none;
  padding: 3px 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@keyframes button-hover {
  from{
    width: 50%;
  }
  to{
    width: 100%;
  }
}
@keyframes button-not-hover {
  from{
    width: 100%;
  }
  to{
    width: 50%;
  }
}

.card-img{
  filter: grayscale(100%);
}

.card-button:hover{
  width: 100%;
  cursor: pointer;
  animation: button-hover 0.5s ease-in-out;
}

.card-button:not(:hover){
  animation: button-not-hover 0.5s ease-in-out;
}

.card-button > p:first-child{
  background: none;
  color: white;
  font-family: akira;
}

.card-button > p:last-child{
  position: absolute;
  right: 8px;
}

.our-mission-section{
  display: flex;
  margin: 150px 113px;
}
.mission-container{
  display: grid;
  grid-template-areas: 
  "welcome image year"
  "welcome image description"
  "trophy image description";
  width: 1215px;
  height: 858px;
  background-color: black;
  color: white;
}

.welcome-box{
  color: white;
  padding: 90px 70px;
  height: 406px;
  grid-area: welcome;
  font-size: 22px;
}

.trophy-box{
  color: white;
  background-color: red;
  padding: 80px;
  height: 452px;
  grid-area: trophy;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trophy-box > p {
  font-size: 32px;
  text-align: center;
}

.img-box{
  height: 100%;
  width: 30%;
  grid-area: image;
}

.img-box > img {
  filter: grayscale(100%);
}

.year-box{
  background-color: red;
  width: 495px;
  height: 269px;
  grid-area: year;
  padding: 0 90px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.year-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.year-number{
  font-size: 187px;
}
.plus{
  font-size: 52px;
}
.year-description{
  font-size: 32px;
  text-align: center;
}

.description-box{
  display: flex;
  text-align: left;
  grid-area: description;
  width: 495px;
  height: 589px;
  padding: 40px 50px
}

.description-box > h1 {
  font-size: 55px;
}

.description-box > h1 > bold {
  color: red;
  
}